[Unit]
Description=Monitoring of test process
Wants=test.timer

[Service]
Type=simple
ExecStart=/usr/local/bin/test.sh

[Install]
WantedBy=multi-user.target
